<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cofar.backendapolo.cumplimientoFuncionario.mapper.SeguimientoClienteMapper">
    <select id="obtieneListadoMesesComportamiento" resultType="java.util.Date">
        set dateformat ymd;
        select distinct fecha.MES
        from (
                 select distinct s.MES
                 from SERIES_VENTAS_CLIENTE_PRODUCTO s
                 where s.COD_CLIENTE = #{codCliente}
                 union
                 select distinct s.MES
                 from SERIES_COBRANZAS_CLIENTE s
                 where s.COD_CLIENTE = #{codCliente}
                 union
                 select distinct s.mes
                 from SERIES_DESCUENTO_FIDELIDAD_CLIENTE s
                 where s.COD_CLIENTE = #{codCliente}
             ) fecha
        where fecha.MES > #{fechaDesde, jdbcType=DATE}
        order by fecha.MES
    </select>
    <select id="obtieneVentasClienteDelMes" resultType="java.lang.Integer">
        set DATEFORMAT ymd;
        select ROUND(sum(s.MONTO_VENTA), 0)
        from SERIES_VENTAS_CLIENTE_PRODUCTO s
        where s.COD_CLIENTE = #{codCliente}
          and s.MES = #{fechaMes, jdbcType=DATE}
    </select>
    <select id="obtieneCobranzasClienteDelMes" resultType="java.lang.Integer">
        set DATEFORMAT ymd;
        select ROUND(sum(s.MONTO), 0)
        from SERIES_COBRANZAS_CLIENTE s
        where s.COD_CLIENTE = #{codCliente}
          and s.MES = #{fechaMes, jdbcType=DATE}
    </select>
    <select id="obtieneDescuentoFidelidadClienteDelMes" resultType="java.lang.Integer">
        set DATEFORMAT ymd;
        select ROUND(sum(s.MONTO), 0)
        from SERIES_DESCUENTO_FIDELIDAD_CLIENTE s
        where s.COD_CLIENTE = #{codCliente}
          and s.MES = #{fechaMes, jdbcType=DATE}
    </select>
    <select id="obtieneListadoVentasDeClientePorLineaDeVenta"
            resultType="com.cofar.backendapolo.cumplimientoFuncionario.payload.MesValor">
        set dateformat ymd;
        select mesVenta.MES mes,  ROUND( isnull(ventas.montoFactura, 0) , 0)valor
        from  (
                  select distinct s.MES
                  from SERIES_VENTAS_CLIENTE_PRODUCTO s
                  where s.COD_CLIENTE = #{codCliente} and
                      s.MES > #{fechaDesde, jdbcType=DATE}
              ) mesVenta
                  left join
              (
                  select vh.MES,
                         SUM(vh.MONTO_VENTA) montoFactura
                  from SERIES_VENTAS_CLIENTE_PRODUCTO vh
                           inner JOIN PRESENTACIONES_PRODUCTO p on vh.COD_PRESENTACION =
                                                                   p.cod_presentacion
                           inner join LINEAS_VENTA_MKT l on p.COD_LINEAMKT = l.COD_LINEAMKT
                  where vh.COD_CLIENTE = #{codCliente} and
                      l.COD_LINEAVENTA = #{codLineaVenta}
                  group by vh.MES,
                           vh.COD_AREA_EMPRESA,
                           vh.COD_CLIENTE
              ) ventas on mesVenta.MES = ventas.MES
        order by mesVenta.MES
    </select>
    <select id="obtieneListadoMesesVentasCliente" resultType="java.util.Date">
        set dateformat ymd;
        select distinct s.MES
        from SERIES_VENTAS_CLIENTE_PRODUCTO s
        where s.COD_CLIENTE = #{codCliente} and
            s.MES > #{fechaDesde, jdbcType=DATE}
        order by s.MES
    </select>
    <select id="obtieneListadoVentasDeClientePorLineaDeMarketing"
            resultType="com.cofar.backendapolo.cumplimientoFuncionario.payload.MesValor">
            set dateformat ymd;
            select mesVenta.MES mes,  ROUND( isnull(ventas.montoFactura, 0) , 0)valor
            from  (
                      select distinct s.MES
                      from SERIES_VENTAS_CLIENTE_PRODUCTO s
                      where s.COD_CLIENTE = #{codCliente} and
                          s.MES > #{fechaDesde, jdbcType = DATE}
                  ) mesVenta
                      left join
                  (
                      select vh.MES,
                             SUM(vh.MONTO_VENTA) montoFactura
                      from SERIES_VENTAS_CLIENTE_PRODUCTO vh
                               inner JOIN PRESENTACIONES_PRODUCTO p on vh.COD_PRESENTACION =
                                                                       p.cod_presentacion
                      where vh.COD_CLIENTE = #{codCliente} and
                          p.COD_LINEAMKT = #{codLineaMkt}
                      group by vh.MES,
                               vh.COD_AREA_EMPRESA,
                               vh.COD_CLIENTE
                  ) ventas on mesVenta.MES = ventas.MES
            order by mesVenta.MES
    </select>

    <select id="getLineasDeMarketingPorLineaDeVenta"
            resultType="com.cofar.backendapolo.cumplimientoFuncionario.model.LineaMarketing">
        select l.COD_LINEAMKT codLineaMarketing, l.NOMBRE_LINEAMKT nombreLineaMarketing
        from LINEAS_MKT l inner join LINEAS_VENTA_MKT lvmkt on l.COD_LINEAMKT = lvmkt.COD_LINEAMKT
        where lvmkt.COD_LINEAVENTA = #{codLineaVenta}
          and l.COD_LINEAMKT not in (4)
    </select>

    <resultMap id="ventaPorlineaDeVenta0" type="com.cofar.backendapolo.cumplimientoFuncionario.payload.DatoTipos">
        <result column="NOMBRE_LINEAVENTA" property="name" />
        <collection property="data" ofType="integer" notNullColumn="montoFactura">
            <result column="montoFactura" />
        </collection>
    </resultMap>

    <resultMap id="ventaPorlineaDeVenta" type="com.cofar.backendapolo.cumplimientoFuncionario.payload.DatoTipos">
        <result column="NOMBRE_LINEAVENTA" property="name" />
        <collection property="data" ofType="integer" notNullColumn="montoFactura">
            <result column="montoFactura" />
        </collection>
    </resultMap>

    <resultMap id="ventaPorlineaDeVenta2" type="com.cofar.backendapolo.cumplimientoFuncionario.payload.DatosTipos2">
        <result column="NOMBRE_LINEAVENTA" property="name" />
        <collection property="data" ofType="com.cofar.backendapolo.cumplimientoFuncionario.payload.MesValor">
            <result property="mes" column="MES"/>
            <result property="valor" column="montoFactura" />
        </collection>
    </resultMap>


</mapper>